@model HYDtmn.Framework.AppModel.EditUserModel
@using HYDtmn.jobweb.Tools
@using HYDtmn.Abstraction;

@{
    ViewBag.Title = "Edit User";
    var levelNames = ViewBag.LevelNames as IEnumerable<SelectListItem>;

}
<main>
    <div class="ribbon"></div>
    <div class="card-container">
        <div class="mdc-card">
            @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, htmlAttributes: new { @class = "content-grid content-grid--active" }))
            {
                //@Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.Person)
                @Html.HiddenFor(m => m.Level)

                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <h2>Edit User</h2>
                        </div>

                        @Html.GetInput(e => e.UserId, 2, true, false, null, null, true)
                        @Html.GetInput(e => e.UserName, 2, true, false, null)


                        @Html.GetInput(e => e.Post, 1, true, false, null)
                        @Html.GetInput(e => e.Division, 1,false, false, null)

                        @Html.GetInput(e => e.Email, 2, false, false, null)

                        @Html.GetOption(e => e.IsAdmin, 4, true, null, false)
                        @Html.GetOption(e => e.Level, 2, true,(List<KeyValuePair<string,string>>)ViewBag.LevelTypes,true, inputcss: "IsAdmin-True ")



                    </div>
                </div>

                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <input type="submit" class="rkmd-btn btn-red mdc-button mdc-button--raised mdc-button--secondary"
                                   value="Save" />
                            <a color="secondary"
                               class="draft-btn rkmd-btn btn-grey mdc-button mdc-button--raised mdc-button--leading"
                               href="@Url.Action("Index","Account")">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">cancel</i>
                                <span class="mdc-button__label">Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>

</main>

@section Scripts {

    @Scripts.Render("~/bundles/theme")
    <script type="text/javascript" src="@Url.Content("~/Scripts/theme.util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.accountedit.js")"></script>

}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-check.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-btn.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.misc.css")" />



}
