@model HYDrmb.Framework.AppModel.ChangePasswordModel
@using HYDrmb.jobweb.Tools

@{
    ViewBag.Title = "Change Password";
    var Redirecturl = ViewBag.RedirectUrl?.ToString();
    Redirecturl = Model.ReturnUrl ?? Redirecturl;

}
<main>
    <div class="ribbon"></div>
    <div class="card-container">
        <div class="mdc-card">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                //@Html.ValidationSummary()                
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ReturnUrl)

                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <h2>Change Password</h2>
                        </div>
                        @Html.GetInput(e => e.UserName, 4, true, false, null, null, true)
                        @Html.GetPassword(e => e.OldPwd, 4, true)
                        @Html.GetPassword(e => e.Pwd, 4, true)
                        @Html.GetPassword(e => e.Confirmpwd, 4, true)

                    </div>
                </div>
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <input type="submit" class="rkmd-btn btn-red mdc-button mdc-button--raised mdc-button--secondary"
                                   value="Save" />
                            <a color="secondary"
                               class="draft-btn rkmd-btn btn-grey mdc-button mdc-button--raised mdc-button--leading"
                               href="@Url.Content(Redirecturl)">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">cancel</i>
                                <span class="mdc-button__label">Cancel</span>
                            </a>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</main>


@section Scripts {

    @Scripts.Render("~/bundles/theme")
    <script type="text/javascript" src="@Url.Content("~/Scripts/theme.util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.passwordchg.js")"></script>

}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-check.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-btn.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.misc.css")" />



}