@using HYDrmb.jobweb.Tools
@using HYDrmb.Framework.AppModel
@using HYDrmb.Abstraction
@model RmbReservationEditModel
@{
    ViewBag.Title = $"Display Reservation ({Model.SessionStart.ToString("dd-MM ddd")}) - {Model.ContactName}";
    string[] intervals = ViewBag.TimeIntervalBag;
    string returnUrl = TempData[Constants.Setting.ReturnUrl] ?? ViewBag.AdHocReturnUrl;
    var isAdmin = HttpContext.Current.Session[Constants.Session.IsAdmin] != null && (bool)HttpContext.Current.Session[Constants.Session.IsAdmin];
    var currentDate = DateTime.Today.Date;
    var UserLevel = HttpContext.Current.Session[Constants.Session.UserLevel]?.ToString() ?? "";
    var EditEnabled = (bool)ViewBag.EditEnabled;
    

    var canEdit = Model.SessionDate >= currentDate && !string.IsNullOrEmpty(UserLevel);
}

<main>
    <div class="ribbon"></div>
    <div class="card-container">
        <div class="mdc-card">
            <div id="reservation-record" class="content-grid content-grid--active">


                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <h2>Display Reservation</h2>
                        </div>
                    </div>

                </div>

                @Html.HiddenFor(e => e.Id, new { @class = "rbid-val" })
                @Html.HiddenFor(e => e.Invalid, new { @class = "rbstatus-val" })
                @Html.HiddenFor(e => e.ContactName)
                @Html.HiddenFor(e => e.ContactPost)
                @Html.HiddenFor(e => e.SessionStart)
                @Html.HiddenFor(e => e.SessionEnd)
                @Html.HiddenFor(e => e.MaxPeriod, new { @class = "rbperiod-val" })
                @Html.HiddenFor(e => e.startTime, new { @class = "from-val" })
                @Html.HiddenFor(e => e.endTime, new { @class = "till-val" })



                @if (EditEnabled)
                {
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                                <div class="pull-right row-flex-ingap">


                                    <div class="command-btns">
                                        <a color="secondary"
                                           class="edit-btn rkmd-btn btn-amber mdc-button mdc-button--raised mdc-button--leading"
                                           edit-enabled="@(EditEnabled ? "" : "This is not your reservation!")"
                                           href="@Url.Action("Edit", "Reservation", new { id = Model.Id})">
                                            <span class="mdc-button__ripple"></span>
                                            <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                                            <span class="mdc-button__label">Edit</span>
                                        </a>
                                        <a color="secondary"
                                           class="del-btn rkmd-btn btn-black mdc-button mdc-button--raised mdc-button--leading"
                                           edit-enabled="@(EditEnabled ? "" : "This is not your reservation!")"
                                           href="#"
                                           urlis="@Url.Action("Delete", "Reservation", new { id = Model.Id})">
                                            <span class="mdc-button__ripple"></span>
                                            <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
                                            <span class="mdc-button__label">Delete</span>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                }
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        @Html.GetInput(e => e.ContactName, 2, true, false, htmlAttributes: new { @readonly = "readonly" })
                        @Html.GetInput(e => e.ContactPost, 2, true, false, htmlAttributes: new { @readonly = "readonly" })
                        @Html.GetInput(e => e.ContactNumber, 2, true, false, htmlAttributes: new { @readonly = "readonly" })
                        @Html.GetInput(e => e.SessionDate, 2, true, true, htmlAttributes: new { @readonly = "readonly" })
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop  ">

                        </div>
                        @Html.GetOption(e => e.SessionType, 4, true, (List<KeyValuePair<string, string>>)ViewBag.SESTypeOptions, false, isdisabled: true, inputcss: "flex-row")
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <div class="slider-container" intervals="@String.Join(",",intervals)">
                                <input type="text" id="sessionrange" style="display:none" class="slider SessionType-CUSTOM_" />
                            </div>

                        </div>
                        @Html.GetOption(e => e.LocationType, 2, true, (List<KeyValuePair<string, string>>)ViewBag.LocationType, true,isdisabled:true)
                        @Html.GetOption(e => e.RoomType, 2, true, (List<KeyValuePair<string, string>>)ViewBag.RoomType, true,isdisabled:true)
                        @Html.GetArea(e => e.Remarks, 2, false, isdisabled: true)
                        @Html.GetEmptyWrap(2, inputcss: "roompicshow")


                    </div>
                </div>
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                            <a color="secondary"
                               class="back-btn rkmd-btn btn-grey mdc-button mdc-button--raised mdc-button--leading"
                               href="@returnUrl">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">arrow_back</i>
                                <span class="mdc-button__label">Back</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            </div>

        </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/theme")
    <script type="text/javascript" src="@Url.Content("~/Scripts/theme.util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bouncer.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/util.rslider.min.js")"></script>
    <script type="text/javascript" src="@Url.GetTimedContentUrl("~/Scripts/my.reservation.js")"></script>

}
@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.material.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.matter-btn.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.misc.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/theme.bootstrap.date.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/util.rslider.css")" />

}